*{
   margin: 0;
   padding: 0;
}

body {
   background-color: rgb(141, 152, 187);
}

.container {
   max-width: 800px;
   margin: 0 auto;
    
}

.titel{
   font-size: 50px;
   color: #fff;
   padding-top: 200px;
   padding-bottom: 30px;
}


.content {
   margin: 0 auto;
   width: 800px;
   background-color: antiquewhite;
   text-align: center;
   padding: 50px 0;
   border: none;
   border-radius: 60px;
}

.time {
   padding-bottom: 20px;
   font-size: 50px;
   font-weight: bold;
}

.content_btn{
   display: flex;
   justify-content: space-around;
   
}

.button {
   padding: 20px 40px;
   border:none;
   border-radius: 25px;
   font-size: 32px;
   font-weight: bold;
   cursor: pointer;
}

.button:hover{
   background-color: gray;
}

.red {
   background-color: red;
}

.green{
   background-color: greenyellow;
}

.blue {
   background-color: rgb(23, 198, 233);
}